<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" parallel="false">
    <test name="Cucumber API Tests">
        <classes>
            <class name="com.example.com.example.api.api.runners.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
